{% extends 'master.html' %}
{% from 'fields.html' import render_field %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ form.csrf_token }}
    {% for field in form %}
      {% if not field.name == 'csrf_token' %}
        {{ render_field(field) }}
      {% endif %}
    {% endfor %}
    <input type="submit" value="Save">
  </form>
  <hr>
  <form method="post" action="{{ url_for('blog.delete', id=post['id']) }}">
    <input type="submit" class="danger" value="Delete" onclick="return confirm(('Are you shure?'))">
  </form>
{% endblock %}
