{% extends 'master.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">Body</label>
    <textarea id="body" name="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form method="post" action="{{ url_for('blog.delete', id=post['id']) }}">
    <input type="submit" class="danger" value="Delete" onclick="return confirm(('Are you shure?'))">
  </form>
{% endblock %}
